<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="UTF-8"
    />
    <title>Attendance System – {% block title %}{% endblock %}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      {% block style %} {% endblock%}
    </style>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
    <script src="{{ url_for('static', filename='custom-dropdown.js') }}"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    <div class="toast" id="toast"></div>

    <script>
      document.addEventListener("DOMContentLoaded", function() {

        const theme = localStorage.getItem("theme");
        const themeToggle = document.querySelector(".slider-input");
        if (theme === "light") {
          if (themeToggle) themeToggle.checked = true;
          document.documentElement.setAttribute("data-theme", "light");
        }
        {% if messages %}
          {% for category, message in messages %}
            showToast("{{ message }}", "{{ category }}", 4000);
          {% endfor %}
        {% endif %}
      });
    </script>
    {% endwith %}{% block content %}{% endblock %}
  </body>
</html>
