@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

:root {
  --red-pantone: #e63946ff;
  --honeydew: #f1faeeff;
  --non-photo-blue: #a8dadcff;
  --cerulean: #457b9dff;
  --berkeley-blue: #1d3557ff;
  --soft-rose: #f3a6adff;
  --deep-crimson: #8c222bff;
  --muted-aqua: #7da8aaff;
  --slate-blue: #2d5167ff;
  --burnt-orange: #e66a39ff;
  --indigo: #351d57ff;
  --seaform-green: #a8dca9ff;
  --emerald-green: #39e6d9ff;
  --rust_orange: #9d6745ff;
  --golden-yellow: #573f1dff;
  --alice-blue: #f3f4f6ff;
  --deep-sea-green: #2d6751;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  align-items: flex-start;
}
.main-content {
  height: 100vh;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #457b9d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23457B9D' width='11' height='11'/%3E%3Crect fill='%23467d9e' x='10' width='11' height='11'/%3E%3Crect fill='%23477e9f' y='10' width='11' height='11'/%3E%3Crect fill='%234980a0' x='20' width='11' height='11'/%3E%3Crect fill='%234a81a1' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%234b83a3' y='20' width='11' height='11'/%3E%3Crect fill='%234c85a4' x='30' width='11' height='11'/%3E%3Crect fill='%234e86a5' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%234f88a6' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%235089a7' y='30' width='11' height='11'/%3E%3Crect fill='%23528ba8' x='40' width='11' height='11'/%3E%3Crect fill='%23538da9' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23558eaa' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%235690ab' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%235792ac' y='40' width='11' height='11'/%3E%3Crect fill='%235993ad' x='50' width='11' height='11'/%3E%3Crect fill='%235a95ae' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%235c96b0' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%235d98b1' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%235f9ab2' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23609bb3' y='50' width='11' height='11'/%3E%3Crect fill='%23629db4' x='60' width='11' height='11'/%3E%3Crect fill='%23649eb5' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2365a0b6' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2367a2b7' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2369a3b8' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%236aa5b9' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%236ca6ba' x='70' width='11' height='11'/%3E%3Crect fill='%236ea8bb' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%236faabc' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2371abbd' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2373adbe' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2374afbf' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2376b0c0' x='80' width='11' height='11'/%3E%3Crect fill='%2378b2c1' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%237ab3c2' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%237cb5c3' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%237db7c4' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%237fb8c5' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2381bac6' x='90' width='11' height='11'/%3E%3Crect fill='%2383bbc8' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2385bdc9' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2387bfca' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2388c0cb' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%238ac2cc' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%238cc3cd' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%238ec5ce' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2390c7cf' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2392c8d0' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2394cad1' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2396ccd2' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2398cdd3' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%239acfd4' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%239cd0d5' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%239ed2d6' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23a0d4d8' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23a2d5d9' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23a4d7da' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23a6d8db' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23A8DADC' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;

  background-color: var(--non-photo-blue);
}
.container {
  display: flex;
  border-radius: 10px;
  overflow: auto;
  max-width: 900px;
  width: 100%;
}
.dashboard-container {
  width: 100%;
  background-color: var(--honeydew);
  overflow: auto;
}
.compartments {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  padding: 30px;
}
.odd-background {
  background: var(--muted-aqua);
}
.compartment {
  flex: 1;
  text-align: center;
  justify-items: center;
}
.compartment h2 {
  color: var(--berkeley-blue);
}
.form-side,
.image-side {
  width: 50%;
  padding: 40px;
}
.image-side svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--cerulean);
  padding: 20px 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--honeydew);
}
.header h2 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
}
.header h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
}
.header .logout-btn {
  background: var(--red-pantone);
  color: var(--honeydew);
  text-decoration: none;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.header .logout-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.group {
  display: flex;
  line-height: 30px;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
}
.toast {
  visibility: hidden;
  min-width: 250px;
  color: var(--honeydew);
  text-align: center;
  border-radius: 100px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 80px;
  font-size: 17px;
  transform: translateX(-50%);
  transition: opacity 0.5s, visibility 0.5s;
}
.toast.show {
  visibility: visible;
  opacity: 1;
}
.toast.success {
  background-color: var(--deep-sea-green);
}
.toast.error {
  background-color: var(--deep-crimson);
}
.toast.info {
  background-color: var(--cerulean);
}
.input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 45px;
  line-height: 30px;
  padding: 0 5rem;
  padding-left: 3rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #fff;
  color: var(--berkeley-blue);
  transition: 0.5s ease;
}

.input::placeholder {
  color: var(--cerulean);
}

.input:focus,
input:hover {
  outline: none;
  border-color: var(--berkeley-blue);
  background-color: #fff;
}

.icon {
  position: absolute;
  left: 1rem;
  width: 1.2rem;
  height: 1.2rem;
  fill: var(--berkeley-blue);
  z-index: 5;
}
.toggle-password-btn {
  position: absolute;
  right: 1rem;
  background: transparent;
  width: 1.2rem;
  height: 1.2rem;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 5;
}
.toggle-password-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--berkeley-blue);
}
.toggle-on-icon {
  display: none;
}
.form-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2.5rem;
  color: var(--berkeley-blue);
}
.submit-btn {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  width: 100%;
  height: 45px;
  line-height: 30px;
  border: 5px solid var(--red-pantone);
  border-radius: 10px;
  outline: none;
  background: var(--red-pantone);
  color: var(--honeydew);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.submit-btn:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.custom-select-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}
.custom-select {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  position: relative;
  width: 100%;
  height: 45px;
  cursor: pointer;
  line-height: 45px;
  z-index: 0;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: #ffffff;
  color: var(--deep-forest);
  transition: all 0.3s ease;
}

.custom-select.active {
  border: 2px solid var(--berkeley-blue);
}
.custom-select:hover {
  border: 2px solid var(--berkeley-blue);
}
.options-list {
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
  margin-top: 60px;
  background-color: #ffffff;
  border: 1px solid var(--cerulean);
  border-radius: 10px;
  padding-left: 0px;
  list-style-type: none;
  z-index: 10;
  opacity: 0;
  max-height: 0;
  overflow-y: auto;
  overflow-x: auto;
  align-items: center;

  transition: max-height 0.4s ease-out, opacity 0.3s ease-out;
}

.options-list.show {
  opacity: 1;
  max-height: 250px;
  border: 2px solid var(--berkeley-blue);
}

.option-item {
  align-items: center;
  display: flex;
  padding: 10px 1.5rem;
  line-height: 25px;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

/* Rounded corners for the first and last options */
.option-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.option-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

/* Transition Effect (Hover State) */
.option-item:hover {
  background-color: var(--non-photo-blue);
  color: var(--berkeley-blue);
}

/* Arrow Styling */
.select-arrow {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  pointer-events: none; /* Allows click to pass through */
}

.custom-select.active .select-arrow {
  transform: translateY(-50%) rotate(180deg);
}
#studentFields {
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  display: flex;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Max width for better look */
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close-btn {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  cursor: pointer;
}
.close-btn svg {
  fill: var(--cerulean);
  width: 19.2px;
  height: 19.2px;
  transition: transform 0.3s ease;
}
.close-btn svg:hover {
  transform: scale(1.1);
}
.add-class-btn {
  position: relative;
  display: flex;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  align-items: center;
  padding: 7px;
  background-color: var(--deep-sea-green);
  color: var(--honeydew);
  border: 2px solid transparent;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.add-class-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.add-class-btn svg {
  fill: var(--emerald-green);
  margin: 5px;
}
p {
  text-align: center;
  margin-top: 15px;
  font-size: 0.9rem;
  color: var(--berkeley-blue);
}
a {
  color: var(--red-pantone);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  border-radius: 10px;
  overflow: hidden;
}
th {
  text-align: center;
  background: var(--berkeley-blue);
  color: white;
  padding: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
td {
  padding: 12px 15px;
  text-align: center;
  color: var(--berkeley-blue);
  transition: background 0.3s ease;
}
td svg {
  fill: var(--cerulean);
  width: 19.2px;
  height: 19.2px;
}
td svg:hover {
  fill: var(--berkeley-blue);
  cursor: pointer;
}
tr {
  background-color: var(--alice-blue);
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 8px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 8px;
}
tr.status-scheduled {
  background: #e0f2fe;
  color: #075985;
}
tr.status-running {
  background: #dcfce7;
  color: #166534;
  font-weight: 600;
}
tr.status-cancelled {
  background: #fee2e2;
  color: #991b1b;
  text-decoration: line-through;
}
tr.status-completed {
  background: #f3f4f6;
  color: #374151;
}
.filter-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 18px 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  align-items: center;
  margin-bottom: 25px;
  border: 1px solid #e2e8f0;
}

.filter-controls label {
  font-weight: 600;
  font-size: 0.95rem;
  width: 100%;
  color: #2c3e50;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .form-side,
  .image-side {
    width: 100%;
  }
  .image-side {
    display: none;
  }
}
.calendar-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}
/* Input Wrapper (.relative .mb-6) */
.input-wrapper {
  position: relative;
  width: 100%;
}

/* Input Label (.block .mb-2 .font-medium) */
.input-label {
  display: block;
  width: 100%;
  font-weight: 500;
  color: var(--berkeley-blue);
}

/* --- Custom Calendar Component Styling --- */
.calendar-container {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  position: absolute;
  z-index: 100;
  width: 300px;
  background-color: var(--alice-blue);
  border-radius: 12px;
  padding: 15px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.calendar-container.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.calendar-header {
  display: flex; /* flex */
  justify-content: space-between; /* justify-between */
  align-items: center; /* items-center */
  margin-bottom: 10px; /* mb-2.5 */
  color: var(--slate-blue);
  font-weight: bold;
}

.calendar-header .month-year {
  font-size: 1.125rem; /* text-lg */
}

/* Calendar Navigation Button (.px-2 .py-1 .rounded-full .text-white) */
.cal-nav-btn {
  padding: 4px 8px; /* px-2 py-1 */
  border-radius: 9999px; /* rounded-full */
  color: white; /* text-white */
  background-color: var(--non-photo-blue);
  border: none;
  cursor: pointer;
  line-height: 1;
}
.cal-nav-btn:hover {
  background-color: var(--cerulean);
}
.cal-nav-btn svg {
  display: inline-block;
  vertical-align: middle;
  stroke: var(--berkeley-blue);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
}

.day-label {
  font-size: 0.8rem;
  color: var(--deep-crimson);
  font-weight: 500;
}

.day-cell {
  padding: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.2s ease, color 0.2s ease;
  font-size: 0.9rem;
  color: var(--red-pantone);
}

.day-cell:hover:not(.empty):not(.today) {
  background-color: var(--non-photo-blue);
}

.day-cell.empty,
.day-cell.other-month {
  color: #ccc;
  cursor: default;
}

.day-cell.today {
  background-color: var(--red-pantone);
  color: white;
  font-weight: bold;
}

/* --- Time Selector Group --- */
.time-selector-group {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.2s;
}

.time-selector-group:hover {
  border-color: var(--berkeley-blue);
}

/* --- Individual Select Dropdown --- */
.time-select-field {
  flex: 1;
  padding: 10px 5px;
  border: none;
  outline: none;
  /* Hide default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  font-size: 16px;
  color: var(--berkeley-blue);
  background-color: transparent;
  cursor: pointer;
  line-height: 1.5;
  transition: background-color 0.2s;
}

.time-select-field:focus {
  background-color: var(--cerulean);
  color: var(--alice-blue);
}

/* Separator style */
.time-separator {
  padding: 0 5px;
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--berkeley-blue);
}
