<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Attendance System – {% block title %}{% endblock %}</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', filename='favicon.svg') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <style>
      {% block style %} {% endblock%}
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
